{% extends 'core/base.html' %}


{% block title %}Merchandises{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <br>
        <div class="col-4 bg-secondary">
            <form method="get" action="{% url 'merchandise:merchandises' %}" class="mt-2">
                <input name="query" class="form-control" placeholder="Find a merchandise of your choice...." aria-label="Find a merchandise of your choice...." aria-describedby="basic-addon2" type="text" value="{{ query }}">
                <button type="submit" class="mt-2 p-3 bg-success">Search</button>
            </form>
            <hr>
            <p class="text-warning">Categories</p>
            <ul class="list-unstyled">
                {% for category in categories %}
                <li class="p-2 mb-2 rounded bg-light {% if category.id == category_id %} bg-primary {% endif %}">
                    <a href="{% url 'merchandise:merchandises' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <p class="text-warning">Clear Filter</p>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'merchandise:merchandises' %}" class="rounded text-uppercase mt-6 bg-danger" type="submit"><p class="text-dark">reset</p></a>
                </li>
            </ul>

        </div>
        
        
        <div class="col-8">
            <div class="row">
                {% for merchandise in merchandises %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100">
                                <a href="{% url 'merchandise:detail' merchandise.id %}">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="{{ merchandise.image.url }}" class="card-img-top img-fluid">
                                            <hr>
                                            <div>
                                                <h2 class="card-title text-dark mt-0">{{ merchandise.name }}</h2>
                                                <p class="card-text text-dark">Price: {{ merchandise.price }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
      </div>
</div>
{% endblock %}