{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>About Us</h1>
    <section>
        <h2>Our Mission</h2>
        <p>At Merch Discount, our mission is to create a dynamic and inclusive marketplace that empowers sellers, fosters community connections, and encourages sustainable practices. We envision a platform where every seller, regardless of size, can thrive by reaching a broader audience.</p>
    </section>

    <section>
        <h2>Connecting Sellers and Buyers</h2>
        <p>We strive to bridge the gap between sellers and buyers, providing a common ground for individuals looking to resell quality, pre-loved items. Our platform is designed to celebrate uniqueness and promote the circular economy, giving new life to used products while offering buyers access to a diverse range of high-quality merchandise.</p>
    </section>

    <section>
        <h2>Promoting Sustainability</h2>
        <p>With a commitment to environmental responsibility, we encourage sustainable practices by giving a second chance to products and reducing waste. Sellers on our platform contribute to a greener future, and buyers play a crucial role in supporting this eco-conscious movement.</p>
    </section>

    <section>
        <h2>Rewards for Resellers</h2>
        <p>As a token of appreciation for our sellers, we offer exclusive merchandise discounts and promotional opportunities. We believe in building a community where sellers flourish, connecting with like-minded individuals and creating a positive impact on both their businesses and the environment.</p>
    </section>
</div>
{% endblock %}