{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2><span class="badge badge-warning">Our</span> Merchandises</h2>
    <div class="bg-secondary mt-3 p-5 text-center">

        <div class="row">
            {% for merchandise in merchandises %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100">
                            <a href="{% url 'merchandise:detail' merchandise.id %}">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="{{ merchandise.image.url }}" class="card-img-top img-fluid">
                                        <hr>
                                        <div>
                                            <h2 class="card-title text-dark mt-0">{{ merchandise.name }}</h2>
                                            <p class="card-text text-dark">Price: {{ merchandise.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row text-white bg-dark ml-1">
            <h2><span class="badge badge-warning p-3 ">Merch</span> Categories</h2>
            {% for category in categories %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        
                        <div class="h-100">
                            <a href="">
                                <div>
                                    <h6 class="card-title mt-0 text-white">{{ category.name }}</h6>
                                    <p class="card-text text-white">{{ category.merchandises.count }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
            {% endfor %}
        </div>
        

    </div>
</div>
{% endblock %}
